@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,900&family=Roboto:wght@300;400&display=swap');

//fuentes
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Playfair Display', serif;

$light-font: 300;
$regular-font: 400;
$black-font: 900;

$small-font: 0.75rem;
$medium-font: 1rem;
$large-font: 1.125rem;
$x-large-font: 1.875rem;
$xx-large-font: 4.375rem;

//colores
$white: #fff;
$platinum: #e6e7e7;
$light-gray: #d1d1d1;
$fuzzy-wuzzy: #e56353;
$ruddy-pink: #d76c69;
$spanish-pink: #ecbcba;
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6c6e70;