.page-link {
    font-family: $primary-font;
    font-weight: $regular-font;
    font-size: $medium-font;
    color: $raisin-black;
    text-decoration: none;
}

.pagination__anterior {
    color: $nickel;
}

.pagination__activo {
        background-color: $nickel;
        color: $white;
}
