.articulo {
    font-family: $primary-font;
    font-weight: $light-font;
    font-size: $medium-font;
    color: $nickel;
    line-height: 3rem;
}

.articulo__fecha { 
    font-family: $secondary-font;
    font-weight: $regular-font;
    color: $nickel;
    font-size: $medium-font;   
}

