.navbar {
    background-color: $eerie-black;
    font-family: $primary-font;
    font-weight: $regular-font;
    font-weight: $medium-font;
    color: $white;
}
    
.navbar__logo {
        width: 5rem;
}